body {
	background-color: black;
	margin: 0; /* Elimina el margen por defecto */
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	/* background-color: #121212; */
	/* max-width: 800px; */
	padding: 20px;
	margin: 40px;
	color: white;
}

h2.title_contacto {
	color: #fb9c0c;
	font-size: 25px;
	text-align: center;
	margin-block-start: 10px;
}

h2 {
	color: #fb9c0c;
	font-size: 28px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

/* *** Estilo de la Navbar*** */
.navbar {
	text-align: center;
	padding: 10px 0;
	/* Espaciado vertical */
	background-color: #fb9c0c;
	/* Color de fondo de la navbar */
	margin-bottom: 20px;
	/* Separación del contenido principal */
}

.navbar button {
	padding: 10px 30px;
	margin: 5px;
	font-size: 20px;
	background-color: rgb(252, 252, 252);
	color: white;
	/* border: none; */
	border-color: #fb9c0c;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.navbar button a {
	text-decoration: none;
	color: rgb(11, 0, 0);
}

.navbar button:hover {
	background-color: #fb9c0c;
}

p {
	color: #e0e0e0;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

/* Estilos del formulario */
.contacto {
	background-color: #1e1e1e; /* Fondo del formulario en gris oscuro */
	border-radius: 12px;
	padding: 30px;
	width: 100%;
	max-width: 600px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.contacto label {
	color: #fb9c0c;
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.contacto input[type="text"],
.contacto input[type="email"],
.contacto input[type="tel"],
.contacto input[type="date"],
.contacto input[type="number"],
.contacto select,
.contacto textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #fb9c0c;
	border-radius: 5px;
	background-color: #2a2a2a;
	color: white;
}

.contacto input::placeholder,
.contacto textarea::placeholder {
	color: #9e9e9e;
}

/* Estilo de los checkboxes */
.checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.checkbox label {
	color: #fb9c0c;
	font-size: 16px;
	margin-left: 5px;
}

/* Botón de envío */
.contacto input[type="submit"] {
	background-color: #fb9c0c;
	color: white;
	padding: 12px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	width: 100%;
}

.contacto input[type="submit"]:hover {
	background-color: #ffa726;
}