body {
	background-color: black;
	margin: 0;
	/* Elimina el margen por defecto */
}

header h2 {
	color: #fb9c0c;
	font-size: 30px;
	text-align: center;
	margin-block-start: 15px;
}

/* *** Estilo de la navbar *** */
.navbar {
	text-align: center;
	padding: 10px 0;
	/* Espaciado vertical */
	background-color: #fb9c0c;
	/* Color de fondo de la navbar */
	margin-bottom: 20px;
	/* Separación del contenido principal */
}

.navbar button {
	padding: 10px 30px;
	margin: 5px;
	font-size: 20px;
	background-color: rgb(252, 252, 252);
	color: white;
	/* border: none; */
	border-color: #fb9c0c;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.navbar button a {
	text-decoration: none;
	color: rgb(11, 0, 0);
}

.navbar button:hover {
	background-color: #fb9c0c;
}

/* *** Estilo Título *** */
.Title {
	color: aqua;
	font-size: 100px;
	text-align: center;
	margin: 20px 0;
	/* Espacio arriba y abajo del título */
}

.Title_1 {
	color: #fb9c0c;
	font-size: 50px;
	text-align: center;
	margin: 20px 0;
	/* Espacio arriba y abajo del título */
}

.menu {
	text-align: center;
	/* Centra los botones */
	margin: 10px 0;
	/* Espacio arriba y abajo del menú */
}

.photo {
	text-align: center;
	/* Centra los botones */
	margin: 10px 0;
	/* Espacio arriba y abajo del menú */


}

.photo img {
	width: 100%;
	/* Ajusta el ancho de la imagen al contenedor */
	max-width: 700px;
	/* Tamaño máximo de la imagen */
	height: auto;
	/* Mantiene la relación de aspecto */
	border-radius: 15px;
}

.photo_2 img {
	width: 40%;
	/* Ajusta el ancho de la imagen al contenedor */
	max-width: 700px;
	/* Tamaño máximo de la imagen */
	height: auto;
	/* Mantiene la relación de aspecto */
	border-radius: 15px;
	margin-right: 20px;
}

.menu button {
	padding: 5px 30px;
	/* Tamaño de los botones */
	margin: 5px;
	/* Espacio entre los botones */
	font-size: 20px;
	/* Tamaño de la fuente */
	background-color: aqua;
	/* Color de fondo */
	color: white;
	/* Color del texto */
	/*border:none;  Sin borde */
	border-color: #fb9c0c;
	border-radius: 20px;
	/* Bordes redondeados */
	cursor: pointer;
	/* Cambia el cursor al pasar el mouse */
	transition: background-color 0.3s;
	/* Transición suave para el cambio de color */
}

.menu button a {
	text-decoration: none;
	/* Sin subrayado en el texto del enlace */
	color: rgb(11, 0, 0);
	/* Color del texto en el enlace */
}

.menu button:hover {
	background-color: #fb9c0c;
	/* Color de fondo al pasar el mouse */
}

h2 {
	color: white;
	font-size: 25px;
	text-align: center;
	margin-block-start: 50px;
}

h2.title_portfolio {
	color: black;
	font-size: 25px;
	text-align: center;
	margin-block-start: 10px;
}

p {
	color: white;
	font-size: 20px;
	max-width: 600px;
}

p span {
	color: #fb9c0c;
}

p.p_portfolio span {
	color: white;
}

.paragraph {
	display: flex;
	align-items: center;
	margin: 20px 0;
}

.paragraph:nth-of-type(odd) {
	flex-direction: row;
}

.paragraph:nth-of-type(even) {
	flex-direction: row-reverse;
}

.img-left,
.img-right {
	width: 250px;
	height: auto;
	margin: 0 10px;
}

/* Estilos para centrar la imagen y el texto */
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	/* Espacio entre la imagen y el texto */
	margin: 20px;
}

.text {
	max-width: 800px;
	flex: 1;
	/* Limitar el ancho del texto */
}

.video-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
	/* Espacio entre los videos */
}

.video-item {
	display: flex;
	flex-direction: column;
	/* Alinea los elementos en columna */
	align-items: center;
	text-align: center;
	/* Centrar el texto */
	min-height: 300px;
	/* Establecer una altura mínima para igualar los elementos */
	max-width: 500px;
	/* Ajusta este valor según el ancho deseado */
	border-radius: 10px;
	/* Bordes redondeados */
	padding: 15px;
	/* Espaciado interno */
	background-color: #e18d10;
	/* Fondo ligeramente transparente */
	margin: 0 auto;
	/* Centra el contenedor si queda espacio */
}

.video-item img {
	width: 40%;
	/* Asegurarse de que la imagen se ajuste al ancho */
	max-width: 700px;
	height: auto;
	/* Mantener la relación de aspecto */
	border-radius: 15px;
	/* Bordes redondeados */
}

.video-item p {
	color: black;
	/* Color del texto */
	font-size: 20px;
	/* Tamaño de fuente más pequeño para mejor lectura */
	flex-grow: 1;
	/* Permitir que el párrafo crezca */
	margin-top: 10px;
	/* Espacio entre la imagen y el texto */
}

video {
	width: 90%;
	/* Para que se ajusten al tamaño de la columna */
	height: auto;
	border-radius: 15px;
	/* Bordes redondeados */
	margin: 15px;

}

/* ***Portafolio*** */
.portfolio {
	width: 40%;
	height: auto;
	max-width: 700px;
	margin: 20px 0;
	border-radius: 15px;

}

footer {
	background-color: #fb9c0c;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	font-size: 16px;
}

footer p {
	margin: 0;
	text-align: center;
	font-weight: bold;
	color: black;
}